*background:        #282828
*foreground:        #ebdbb2
!black
*color0:            #282828
*color8:            #928374
!red
*color1:            #cc241d
*color9:            #fb4934
!green
*color2:            #98971a
*color10:           #b8bb26
!yellow
*color3:            #d79921
*color11:           #fabd2f
!blue
*color4:            #458588
*color12:           #83a598
!magenta
*color5:            #b16286
*color13:           #d3869b
!cyan
*color6:            #689d6a
*color14:           #8ec07c
!white
*color7:            #a89984
*color15:           #ebdbb2


xscreensaver.splash:                        false
xscreensaver.Dialog.headingFont:            -*-source sans pro-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:               -*-source sans pro-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:              -*-source sans pro-medium-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:              -*-source sans pro-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:             -*-source sans pro-bold-r-*-*-18-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:               -*-source sans pro-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.passwdFont:             -*-source sans pro-bold-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.foreground:             #ebdbb2
xscreensaver.Dialog.background:             #282828
xscreensaver.Dialog.Button.foreground:      #ebdbb2
xscreensaver.Dialog.Button.background:      #3c3836
xscreensaver.Dialog.topShadowColor:         #282828
xscreensaver.Dialog.bottomShadowColor:      #282828
xscreensaver.Dialog.text.foreground:        #ebdbb2
xscreensaver.Dialog.text.background:        #3c3836
xscreensaver.Dialog.internalBorderWidth:    0
xscreensaver.Dialog.shadowThickness:        2
xscreensaver.Dialog.borderWidth:            0
xscreensaver.passwd.thermometer.foreground: #458588
xscreensaver.passwd.thermometer.background: #3c3836
xscreensaver.dateFormat:                    %H:%M | %d.%m.%Y
